<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Rolling" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/usi2011_jaxio/log/game.log" />
		<param name="maxFileSize" value="100MB" />
		<param name="maxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{HH:mm:ss,SSS} %l - %m%n" />
		</layout>
	</appender>

	<logger name="usi2011">
		<level value="warn" />
	</logger>

	<logger name="me.prettyprint">
		<level value="warn" />
	</logger>

	<logger name="org.apache.commons">
		<level value="warn" />
	</logger>

	<logger name="org.apache.commons.beanutils">
		<level value="warn" />
	</logger>

	<logger name="org.springframework">
		<level value="warn" />
	</logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="Rolling" />
	</root>
</log4j:configuration>
